.icon {
  display: block;
  flex: 0 0 auto;
  fill: none;
  height: var(--icon-size);
  overflow: visible;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--icon-stroke);
  width: var(--icon-size);
}
