.editor {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    height: auto;
    min-height: 0;
    min-width: 0;
    overflow: hidden;
}

.loading {
    min-height: var(--editor-min-height);
}

.overflowWidgetsHost :global(.monaco-hover) {
    backdrop-filter: var(--blur);
}

.editor :global(.monaco-editor .inputarea:focus-visible) {
    box-shadow: none;
    outline: none;
}
